<beans:beans xmlns="http://www.springframework.org/schema/security"  
    xmlns:beans="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/security  
    http://www.springframework.org/schema/security/spring-security.xsd">  
    

 <http auto-config="true" use-expressions="true">  
       <intercept-url pattern="/**" access="isAuthenticated()" /> 
       <!--  <intercept-url pattern="/index" access="hasRole('ROLE_ADMIN')" />
           <intercept-url pattern="/professorHomePage" access="hasRole('ROLE_USER')" />  -->
          <form-login authentication-success-handler-ref="authSuccessHandler" />
                 
        <logout logout-url="/static/j_spring_security_logout"
         logout-success-url="/login" invalidate-session="true"/>
        <csrf disabled="true"/>
           <session-management invalid-session-url="/logout.html">
    <concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
</session-management>
    </http> 

 
    
   
 
     
    <authentication-manager>  
      <authentication-provider>  
          <jdbc-user-service id="jdbcUserService"
			data-source-ref="dataSource"/> 

      </authentication-provider>  
    </authentication-manager>  
    
            
            <jdbc-user-service
                     id="jdbcUserService"
                        data-source-ref="dataSource"
                    users-by-username-query="select username,password,true from users where username=?"
            authorities-by-username-query= "select users.username,role.role from users INNER JOIN role ON users.role_id=role.id whhere users.username=?"></jdbc-user-service>
    
    <beans:bean id="authSuccessHandler" class="org/phish/helper/MySimpleUrlAuthenticationSuccessHandler" />
  
</beans:beans>  
<!-- 

   <http auto-config="true" use-expressions="true">  
        <intercept-url pattern="/**" access="isAuthenticated()" />  
        
        
        <form-login login-page='/login.html'
      authentication-failure-url="/login.html?error=true"
      authentication-success-handler-ref="myAuthenticationSuccessHandler"/>
    <logout/>
                
        <logout logout-url="/static/j_spring_security_logout"
         logout-success-url="/login" invalidate-session="true"/>
        <csrf disabled="true"/>
    </http> 

    <beans:bean id="myAuthenticationSuccessHandler"
  class="org.baeldung.security.MySimpleUrlAuthenticationSuccessHandler" />
   
      -->

