<beans:beans xmlns="http://www.springframework.org/schema/security"  
    xmlns:beans="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/security  
    http://www.springframework.org/schema/security/spring-security.xsd">  
    

 <http auto-config="true">  
		<intercept-url pattern="/custom_login" access="isAnonymous()"/>
		 <intercept-url pattern="/static/j_spring_security_check" access="isAnonymous()"/> 
		  <intercept-url pattern="/webjars/**" access="permitAll()"/> 		
		  <intercept-url pattern="/resources/**" access="permitAll()"/>  
        <intercept-url pattern="/**" access="isAuthenticated()" />
        <form-login
        login-processing-url="/static/j_spring_security_check"
         login-page="/custom_login"
         username-parameter="j_username"
password-parameter="j_password"
            authentication-failure-url="/custom_login?error"          
           authentication-success-handler-ref="authSuccessHandler"/>
                 
        <logout logout-url="/static/j_spring_security_logout"
         logout-success-url="/login" invalidate-session="true"/>
        <csrf disabled="true"/>
           <session-management invalid-session-url="/logout.html">
    <concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />
</session-management>
    </http> 

 
    
   
 
     
    <authentication-manager>  
      <authentication-provider>  
          <jdbc-user-service id="jdbcUserService"
			data-source-ref="dataSource"/> 

      </authentication-provider>  
    </authentication-manager>  
        <beans:bean id="authSuccessHandler" class="org/phish/helper/MySimpleUrlAuthenticationSuccessHandler" />
            
            <jdbc-user-service
                     id="jdbcUserService"
                        data-source-ref="dataSource"
                    users-by-username-query="select username,password,true from users where username=?"
            authorities-by-username-query= "select u.username,r.role from users u join role r where u.role_id=r.id and u.username=?"></jdbc-user-service>
    

  
</beans:beans>  


